@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%; /* #F5F7F8 */
    --card: 0 0% 100%; /* #FFFFFF */
    --primary: 168 72% 47%; /* #5EEAD4 */
    --secondary: 25 100% 59%; /* #FF8C42 */
    --achievement: 43 100% 75%; /* #FFC75F */
    --destructive: 356 79% 47%; /* #D32F2F */
    --foreground: 224 18% 33%; /* #4A4F55 */
    --muted: 216 10% 47%; /* #6A6F77 */
    --radius: 0.5rem;
  }

  [data-theme='dark'] {
    --background: 210 21% 9%; /* #121A1E */
    --card: 210 19% 18%; /* #1E2A2E */
    --primary: 176 73% 44%; /* #2AC1BC */
    --secondary: 25 100% 59%; /* #FF8C42 */
    --achievement: 43 100% 75%; /* #FFC75F */
    --destructive: 4 74% 48%; /* #E74C3C */
    --foreground: 188 4% 92%; /* #E1E8EB */
    --muted: 204 9% 68%; /* #A3ADB1 */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Manrope', sans-serif;
  }
}
